* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #06ad23;
}

#container {
  background-color: darkolivegreen;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}

#landing {
  background-color: rebeccapurple;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 80%;
  height: 80%;
}

nav {
  background-color: darkred;
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
}

#details {
  background-color: khaki;
  width: 20rem;
  height: 15rem;
}

#project {
  background-color: blanchedalmond;
  width: 25rem;
  height: 15rem;
}

footer {
  background-color: rgb(122, 21, 21);
  position: absolute;
  bottom: 0;
  right: 0;
}
